.padding10 {
    -fx-padding: 10;
}

FlowPane {
    -fx-spacing: 10;
}

VBox {
    -fx-padding: 5;
    -fx-spacing: 10;
}

HBox {
    -fx-padding: 5;
    -fx-alignment: center;
}

Label {
    -fx-pref-width: 70;
}

Button {
    -fx-pref-width: 80;
}

TextField {
}